name: Deploy FastAPI to EC2

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Test SSH
        run: |
          echo "workflow syntax ok"
